#
# File:    ./MANIFEST.in
# Author:  Jiří Kučera <sanczes AT gmail.com>
# Date:    2024-06-02 11:30:20 +0200
# Project: vutils-shell: Shell utilities
# Brief:   What extra should or should not be packaged
#
# SPDX-License-Identifier: MIT
#

include LICENSE
include *.md
include pyproject.toml
include tox.ini
recursive-include src *.pyi
recursive-include src py.typed
graft tests

global-exclude *.py[cod]
